html {
    background-color: #0B0C10;
}
#aboutMe {
    top: 345px;
    color: #66FCF1;
    background-color: #1F2833;
}
a {
    text-decoration: none;
    color: #66FCF1;
}
#projects{
    top: 435px;
    color: #66FCF1;
    background-color: #1F2833;
}

#contact {
    top: 525px;
    color: #66FCF1;
    background-color: #1F2833;
}

.sideNav{
    display: none;
}
.sideNav img {
    width: 40px;
    height: 40px;
    float: right;
    padding-left: 15px;
}
.sideNav a{
    position: absolute;
    left: -140px;
    transition: 0.4s;
    padding: 14px;
    width: 180px;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
}

.sideNav a:hover{
    left: 0;
    text-align: right;
}
.headshot {
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
}
.projectIcons {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}
.headshot2{
    width: 110px;
    height: auto;
    right: 100px;
    border-radius: 25%;
    margin-top: 10%;
}
.bottomNav{
    background-color: #0B0C10;
    overflow: hidden;
    position: fixed;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    }
.bottomNav button {
    display: block;    
    background-color: #1F2833;
    color: #66FCF1;
    padding: auto;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Major Mono Display', monospace;
    border: 2px solid #45A28E;
  }
  body {
      text-align: center;
  }
  .homeHeadline, .aboutMeHeadline, .projectHeadline, .contactHeadline {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 30px;
    display: inline;
    color: #66FCF1;
  }
  .aboutMeBio, .projectInfo, .contactInfo {
    font-family: 'Katibeh', cursive;
    color: #C5C6C7;
    font-size: 20px;
    width: 75%;
    margin: auto;
}
.aboutMeHeadline, .aboutMeBio, .projectInfo, .projectHeadline, .projectIcons, .contactHeadline{
    display: none;
}
.contactInfo img {
    width: 100px;
    height: 100px;
    margin: 20px 30px;
}
.contactInfo, .projectInfo, .aboutMeBio{
    text-align: center;
}
.thumbnails img {
    height: 20px;
    width: 20px;
}

@media screen and (min-width: 768px) {

    .homeHeadline, .aboutMeHeadline, .projectHeadline, .contactHeadline{
        font-size: 80px;
    }
    .headshot{
        width: 400px;
        height: 400px;
        margin-left: -200px;
    }
    .headshot2 {
        height: 400px;
        width: 300px;
        margin-top: 0;
    }
    .bottomNav button {
        height: 100px;
        width: 200px;
        font-size: 30px;
    }
    .aboutMeBio, .projectInfo, .contactInfo{
        font-size: 30px;
    }
    .thumbnail img{
        height: 40px;
        width: 40px;
        margin: 10px;
    }
}

@media screen and (min-width: 1024px){
    .bottomNav {
        display: none;
    }
    .sideNav {
        display: block;
    }
    .headshot2 {
        height: 250px;
        width: 200px;
    }
    body{
        padding: 0 350px;
    }
    .thumbnail img {
        height: 60px;
        width: 60px;
    }
    .homeHeadline{
        font-size: 50px;
    }
}