html {
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(0deg, rgba(18,20,69,1) 25%, rgba(243,85,255,1) 52%, rgba(76,209,255,1) 100%);
}
#aboutMe {
    top: 345px;
    color: #f355ff;
    background-color: #121445;
}

#projects{
    top: 435px;
    color: #121445;
    background-color: #4cd1ff;
}

#contact {
    top: 525px;
    color: white;
    background-color: #f355ff;
}

img {
    width: 40px;
    height: 40px;
    float: right;
    padding-left: 15px;
}
.sideNav{
    display: none;
}
.headshot {
    width: 200px;
    height: 200px;
    margin-left: -110px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
}
.headshot2{
    width: 110px;
    height: auto;
    position: absolute;
    bottom: 10%;
    right: 100px;
    border-radius: 25%
}
.bottomNav{
    background-color: #121445;
    overflow: hidden;
    position: fixed;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    }
.bottomNav button {
    display: block;    
    background-color: #121445;
    color: #10FFEF;
    padding: auto;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Major Mono Display', monospace;
    border: 2px solid #10FFEF;
  }
  body {
      text-align: center;
  }
  .homeHeadline, .aboutMeHeadline {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 30px;
    display: inline;
  }
  .aboutMeBio {
    font-family: 'Katibeh', cursive;
    font-size: 20px;
    width: 75%;
    margin: auto;
}
.aboutMeHeadline, .aboutMeBio{
    display: none;
}